$base-font-color: #222;
$base-accent-color: #07c;
$base-faded-color: #aaa;
$base-link-color: $base-accent-color;
$base-line-color: #eee;
$base-accent-background-color: #e4e9ea;

$base-text-shadow: 0 .05em .1em rgba(#000, .3);

$base-background-color: #fff;
$faded-background-color: darken($base-background-color, 3%);

$light-font-weight: 300;

$app-width: 70rem;
$view-padding: 1.5rem;
$sidebar-width: 25rem;
$two-col-breakpoint: 2 * $sidebar-width;

$debug: false;

@import "normalize";
@import "icomoon";
@import "fonts";
@import "rangeslider";

// Mixins/functions
@import "button";
@import "color-functions";

@import "header";
@import "footer";
@import "list-view";
@import "overlay";
@import "document";
@import "inbox";
@import "folder";
@import "file-browser";

// Needs to come last due to media queries
@import "layout";

// DEBUG
@if $debug {
	body {
		background-color: (#eee*1.05) !important;
	}
	#app-wrapper {
		background-color: #fff;
	}
}

%all-small-caps {
	text-transform: uppercase;
	margin-left: .5em;
	font-size: .8em;
	letter-spacing: .05em;
	font-weight: normal;
}
html, body {
	width: 100;
	height: 100%;
}
body {
	font: 16px/1.35 "Source Sans Pro", "Myriad Pro", "Helvetica Neue", sans-serif;
	margin: 0;
	background-color: $base-background-color;
	overflow-x: hidden;
}

a {
	color: $base-link-color;
	text-decoration: none;
	&:visited {
		color: darken($base-link-color, 15%);
	}
}
dl {
	dd, dt {
		margin: 0;
	}
	dt {
		@extend %all-small-caps;
		opacity: .8;
		user-select: none;
		cursor: default;
	}
}
.detail-placeholder {
	@extend .detail-view;
	z-index: 0;
	font-size: 1.5em;
	font-weight: $light-font-weight;
	color: $base-faded-color;
	cursor: default;
	user-select: none;
}

.noscript {
	display: none;
}
.no-js .noscript {
	display: block;
}
