$base-font-color: #222;
$base-accent-color: #07c;
$base-faded-color: #aaa;
$base-link-color: $base-accent-color;
$base-line-color: #eee;
$base-accent-background-color: #e4e9ea;

$base-background-color: #fff;
$faded-background-color: darken($base-background-color, 3%);

$light-font-weight: 300;

$sidebar-width: 25rem;
$two-col-breakpoint: 2 * $sidebar-width;

@import "normalize";
@import "icomoon";
@import "rangeslider";

%all-small-caps {
	text-transform: uppercase;
	margin-left: .5em;
	font-size: .8em;
	letter-spacing: .05em;
	font-weight: normal;
}

html, body {
	width: 100;
	height: 100%;
}
body {
	font: 16px/1.35 "Source Sans Pro", "Myriad Pro", "Helvetica Neue", sans-serif;
	margin: 0;
	background-color: $base-background-color;
}

a {
	color: $base-link-color;
	text-decoration: none;
	&:visited {
		color: darken($base-link-color, 15%);
	}
}
dl {
	dd, dt {
		margin: 0;
	}
	dt {
		@extend %all-small-caps;
		opacity: .8;
		user-select: none;
		cursor: default;
	}
	dd {
	}
}

#app-wrapper {
	position: relative;
	max-width: 70rem;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}
.main-header {
	padding: 3rem 0 1rem;
	margin: 0 1.5rem;
	border-bottom: 1px solid $base-line-color;
	user-select: none;
	cursor: default;

	h1 {
		margin: 0;
		font-weight: $light-font-weight;
		display: inline-block;
		a {
			color: inherit;
			&:before {
				transition: all .2s ease;
				display: inline-block;
				content: "〈";
				font-size: .8em;
				width: 1.5em;
				height: 1em;
				overflow: hidden;
				margin-left: -1.5em;
				opacity: 0;
			}
		}
	}

	nav {
		display: inline-block;
		ul {
			display: inline-block;
			list-style: none;
			margin: 0;
			padding: 0;
		}
		li {
			display: inline-block;
			margin-left: 1em;
		}
		a {
			display: inline-block;
			padding: .5rem 0 1.3rem;
			margin-bottom: -1.3rem;
			color: $base-font-color;
		}
		.active, a:active {
			color: $base-accent-color;
			.unread-count {
				background-color: $base-accent-color;
				color: $base-background-color;
				border-color: $base-accent-color;
			}
		}
		.active {
			border-bottom: 2px solid $base-accent-color;
		}
		.unread-count {
			font-size: .6em;
			padding: .2em .6em;
			border-radius: 1.4em;
			background-color: $base-background-color;
			border: 1px solid $base-faded-color;
			color: $base-faded-color;
		}
	}
}
.thread .main-header h1 a {
	&:before {
		opacity: 1;
		margin-left: -.5em;
	}
}
.stage {
	position: absolute;
	bottom: 0;
	top: 7em;
	width: 100%;
	transition: transform .2s ease;
}
.threads, .messages {
	position: absolute;
	width: 100%;
	top: 0;
	bottom: 0;
	box-sizing: border-box;
	padding: 0 1.5rem;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}
.threads {
	left: 0;
	z-index: 2;
	transition: opacity .2s ease;
	user-select: none;
}
.messages {
	left: 100%;
	z-index: 3;
}
.messages-placeholder {
	display: none;
	z-index: 0;
	font-size: 1.5em;
	font-weight: $light-font-weight;
	color: $base-faded-color;
	cursor: default;
	user-select: none;
}
.index .stage {
	transform: translateX(0);
}
.thread .stage {
	transform: translateX(-100%);
}
.thread {
	.threads {
		opacity: .3;
		&:hover {
			opacity: 1;
		}
	}
	.messages-placeholder {
		display: none;
	}
}
@media (min-width: $two-col-breakpoint) {
	.stage {
		transition: none;
	}
	.index .stage, .thread .stage {
		transform: none;
	}
	.threads {
		left: 0;
		width: $sidebar-width;
	}
	.messages {
		padding-left: $sidebar-width + 1.5rem;
		left: 0;
		right: 0;
	}
	.messages-placeholder {
		display: block;
	}
	.main-header h1 a:before {
		display: none;
	}
}

.threads {
	ul {
		list-style: none;
		padding: 0;
	}
	li {
		font-weight: $light-font-weight;
		padding: .5rem 1.5rem;
		margin: 0 #{-1.5rem};
		cursor: pointer;
		&.active {
			color: $base-accent-color;
			.author {
				color: rgba($base-accent-color, .6);
			}
		}
		&.active, &:hover {
			background-color: $base-accent-background-color;
		}
		&:active {
			background-color: darken($base-accent-background-color, 5%);
		}
	}
	p {
		margin: 0;
	}
	.has-attachments .subject:after {
		@extend %icon-attachment;
		opacity: .5;
		margin-left: .5em;
		font-size: .7em;
	}
	.author {
		color: $base-faded-color;
		font-size: .9em;
		.affiliation {
			@extend %all-small-caps;
		}
	}
}
.subject:before {
	// Icon styling
	color: $base-accent-color;
	font-size: .8em;
	float: left;
	margin-top: .3em;
	margin-left: -1.3em;
}
.unread-all .subject:before,
.unread .subject:before {
	@extend %icon-circle;
}
.unread-some .subject:before {
	@extend %icon-circle-o;
}
/*ul*/.people {
	list-style: none;
	margin: 0;
	padding: 0;
	li {
		margin-bottom: .5em;
	}
	span {
		white-space: nowrap;
	}
	.name {
		margin-right: .5em;
	}
	.email {
		font-weight: $light-font-weight;
	}
}
.message {
	header {
		color: $base-faded-color;
		@media (min-width: $two-col-breakpoint) {
			.from, .to, .cc {
				width: 49%;
			}
			.from {
				float: left;
			}
			.to, .cc {
				float: right;
			}
			.cc, .subject-block {
				clear: both;
			}
		}
	}
	h2 {
		font-weight: normal;
		color: $base-font-color;
		margin: 0;
		font-size: 1.4em;
		font-weight: $light-font-weight;
	}
	pre {
		white-space: pre-wrap;
		font: inherit;
	}
	.attachments {
		margin: 3em 0 0;
	}
	+ .message {
		margin-top: 6rem;
		border-top: 5px solid $base-line-color;
	}
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(#000, .8);
	user-select: none;

	.close {
		position: absolute;
		z-index: 4;
		top: 1rem;
		right: 1rem;
		display: inline-block;
		padding: .5em;
		font-size: 1.5em;
		line-height: .5em;
		border-radius: 50%;
		cursor: pointer;
		text-shadow: 0 .05em .1em rgba(#000, .3);
		color: #fff;
		&:hover {
			background-color: rgba($base-accent-color, .6);
		}
		&:active {
			background-color: $base-accent-color;
		}
	}

	header {
		position: absolute;
		z-index: 3;
		top: 1rem;
		left: 1rem;
		max-width: 20em;
		color: #fff;
		opacity: .8;
		&:hover {
			opacity: 1;
		}

		h2 {
			font-weight: 300;
			font-size: 1.2em;
			pointer-events: none;
			cursor: default;
			margin: 0;
			text-shadow: 0 .05em .1em rgba(#000, .3);
		}
		dl {
			margin: 0;
		}
		dt {
			display: none;
		}
		.download {
			color: #fff;
			border: 1px solid rgba(#fff, .3);
			border-radius: 3px;
			padding: .5em;
			font-weight: 300;
			&:before {
				@extend %icon-download;
				margin-right: .5em;
			}
			&:hover {
				background-color: $base-accent-color;
			}
			&:active {
				box-shadow: inset 0 1px 2px rgba(#000, .5);
				background-color: darken($base-accent-color, 5%);
			}
		}
		.thread {
			display: none;
		}
	}
}
.rangeslider {
	top: -.4em;
	display: inline-block;
	width: 100px;
}
.document {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 2;
	overflow: auto;
	text-align: center;

	.controls {
		position: fixed;
		left: 1rem;
		bottom: 1rem;
		color: #fff;
		&:before {
			@extend %icon-zoom-out;
		}
		&:after {
			@extend %icon-zoom-in;
		}
	}

	.page {
		margin: 2vh 0;
	}
	span {
		display: inline-block;
		background-color: #fff;
		box-shadow: 0 .3em 1em rgba(#000, .2);
	}
	img {
		width: auto;
		//height: auto;
	}
}
